.bg-fb_blue{
  background-color: #337ab7;
}

.navbar-default h1{
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

.navbar-default h1 small{
  color: lightgray;
}

h1, h2, h3, h4, h5, p, small{
  font-family: 'Ubuntu', sans-serif;
}

.navbar-default .navbar-brand:hover{
  color: white;
}

textarea {
   resize: none;
   min-height: 80px;
}

.event-log {
  position: absolute;
  bottom: 10px;
  left: 5px;
  color: gray;
}

.author-info{
  font-size: small;
  position: absolute;
  bottom: 0;
  right: 5px;
  margin-bottom: 0px;
}

.red {
  border: solid 1px red;
}
