<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Facebook Bot</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />
  </head>
  <body ng-controller="mainCtrl">
    <header>
      <nav class="navbar navbar-default bg-fb_blue">
        <div class="container-fluid">
          <div class="navbar-header">
            <h1>Facebook Bot <small>tool for automatic Facebook replies</small></h1>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <form name="loginForm" ng-show="!loggedIn">
            <div class="form-group">
              <input name="email" ng-model="email" type="text" class="form-control" placeholder="Email" ng-class="{red: loginForm.email.$invalid  && loginForm.email.$touched}" required >
            </div>
            <div class="form-group">
              <input name="password" ng-model="password" type="password" class="form-control" placeholder="Password" ng-class="{red: loginForm.password.$invalid && loginForm.password.$touched}" required >
            </div>
            <div class="form-group">
              <textarea name="welcomeMsg" ng-model="welcomeMsg" class="form-control" placeholder="Welcome message" ng-class="{red: loginForm.welcomeMsg.$invalid  && loginForm.welcomeMsg.$touched}" required></textarea>
            </div>
            <div class="form-group">
              <textarea name="repeatMsg" ng-model="repeatMsg" type="text" class="form-control" placeholder="Repeating message" ng-class="{red: loginForm.repeatMsg.$invalid  && loginForm.repeatMsg.$touched}" required></textarea>
            </div>
            <div class="text-center">
                <button ng-disabled="loginForm.$invalid" ng-click="logIn()" type="button" class="btn btn-primary btn-lg">Run Bot</button>
            </div>

          </form>
          <div ng-show="loggedIn" ng-cloak>
            <div class="text-center">
              <h1>Bot is now active!</h1>
              <h3>Keep the application window open</h3>
              <div class="well"><em>Tip:</em> You can pause or resume running bot by sending <strong>bot stop</strong> and <strong>bot start</strong> commands in any chat window</div>
              <button ng-click="logOut()" type="button" class="btn btn-primary btn-lg">Stop Bot</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <p class="event-log">{{lastEvent}}</p>
    <p class="author-info">Copyright &copy; Krzysztof Ciepka</p>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app/appng.js"></script>
  </body>
</html>
